*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
}
body, html{
    width: 100%;
}
.contPrinc{
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    background-color: #212121;
}

aside{
    display: flex;
    position: fixed;
    left: 0;
    width: 15%;
    height: 100vh;
}

.asideCont{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 50%;
    padding-top: 80%;
}

.links a{
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
    transition: transform 0.3s ease;
}

.links a:hover{
    color: #64ff7f;
    transform: scale(1.5);
}

.links a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.links a:hover::after, .links a.active-link::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.active-link {
    color: #64ff7f;
    transform: scale(1.5);
}

.contacto{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contacto h2{
    color: #64ff7f;
}

.medio{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    gap: 10px;
    width: 100px;
}

.medioIcon{
    height: 25px;
    background-color: #ffffff;
    border-radius: 50%;
}

.medioIcon img{
    height: 100%;
    border-radius: 50%;
}

.medioText{
    width: 50%;
}

.separador{
    height: 80vh;
    border: solid 1px #ffffff;
    align-self: center;
}

.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}

header{
    width: 100%;
    display: none;
}

#AboutMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.fotoTexto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 50%;
}

.texto h1{
    font-size: 3rem;
    font-weight: 400;
    color: #64ff7f;
}

.texto h3{
    font-size: 1.5rem;
    font-weight: 400;
    color: #64ff7f;
}

.texto p{
    text-align: justify;
    font-size: 1.25rem;
}

.foto{
    height: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.foto img{
    height: 100%;
    border-radius: 2px;
}

#Projects{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 90%;
        position: relative;
    }
        div.contProj{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 70px;
            width: 100%;
            position: relative;
        }
        div.proj{
            display: flex;
            flex-direction: column;
            height: 325px;
            width: 370px;
            border-radius: 10px;
            transition: transform 0.3s ease;
            position: relative;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        }
        div.proj:hover{
            transform: scale(1.3);
        }
            div.imgProj{
                width: 100%;
                height: 50%;
            }
                div.imgProj img{
                    width: 100%;
                    height: 100%;
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                    
                }
            div.textProj{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 5px;
                height: 50%;
                width: 100%;
                padding: 15px;
                background-color: #323030;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
            }
            .textProj h2{
                font-size: 1.5rem;
                font-weight: 400;
                color: #64ff7f;
            }

            .textProj h3{
                font-size: 1rem;
                font-weight: 400;
                margin-bottom: 10px;
            }
            div.tech{
                display: flex;
                gap: 10px;
                height: 30%;
            }
                .icon{
                    height: 80%;
                }
                .icon img{
                    height: 100%;
                }
            a#aGitHub{
                text-decoration: none;
                height: 35px;
                width: 35px;
                position: absolute;
                top: 10px;
                right: 10px;
            }
            a#aHiRun{
                text-decoration: none;
                height: 35px;
                width: 35px;
                position: absolute;
                top: 10px;
                right: 50px;
            }
            a.textProj img{
                height: 35px;
                border-radius: 50%;
            }
#Technologies{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
    .techCont{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 230px;
        padding-left: 40px;
        padding-right: 40px;
    }
        .techs{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .techs h1{
            font-size: 3rem;
            font-weight: 400;
            color: #ffffff;
            margin-bottom: 30px;
        }
            .techIcoName{
                display: flex;
                gap: 20px;
                align-items: center;
            }
            .techIcoName h3{
                font-weight: 400;
                width: 50%;
            }
                .techIcon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    width: 35%;
                }
                .techIcon img{
                    height: 100%;
                }
                #github img{
                    border-radius: 50%;
                }
                #vercel img{
                    border-radius: 50%;
                }

#Contact{
    min-height: 100vh;
    padding-top: 80px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1510px){
    .links{
        padding-top: 60%;
    }
    .links a{
        font-size: 1.25rem;
    }
    .contacto h2{
        font-size: 1.25rem;
    }
    .medio{
        width: 80px;
    }
    .medioIcon{
        height: 20px;
    }
    .medioText{
        font-size: 0.8rem;
    }
    .foto{
        height: 450px;
    }
    .texto{
        width: 60%;
    }
    .texto h1{
        font-size: 2.5rem;
    }
    .texto h3{
        font-size: 1.25rem;
    }
    .texto p{
        font-size: 1rem;
    }

    .techCont{
        gap: 100px;
    }
    .techs h1{
        font-size: 2.5rem;
    }
    .techIcon{
        height: 35px;
    }
}
@media screen and (max-width: 1373px){
    .fotoTexto{
        width: 90%;
    }
}
@media screen and (max-width: 1143px){
    .fotoTexto{
        width: 95%;
    }
}
@media screen and (max-width: 1080px){
    aside, .separador{
        display: none;
    }
    header{
        display: flex;
    }
    .contenido{
        width: 100%;
    }
    #AboutMe{
        padding-top: 80px;
    }
    #Projects{
        padding-top: 80px;
    }
    #Technologies{
        padding-top: 80px;
    }
    #Contact{
        display: flex;
        justify-content: flex-start;
        padding-top: 200px;
        padding-left: 25px;
        padding-right: 25px;
        gap: 50px;
    }
    #Contact h2{
        font-size: 2rem;
        text-align: center;
    }
    .fotoTexto{
        width: 80%;
        gap: 25px;
    }
    .links{
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 0;
        height: 80px;
        width: 100%;
        gap: 100px;
        background-color: black;
        position: fixed;
        top: 0;
        z-index: 99999999;
    }
    .techs h1{
        color: #ffffff;
    }
    .contacto{
        height: auto;
        flex-direction: row;
        gap: 50px;
    }
    .medio{
        width: auto;
    }
    .medioIcon{
        height: 40px;
    }
    .medio h4{
        font-size: 1.25rem;
    }
}
@media screen and (max-width: 1080px){
    .fotoTexto{
        width: 90%;
    }
}
@media screen and (max-width: 818px){
    .foto{
        height: 400px;
    }
    .links{
        gap: 30px;
    }
}
@media screen and (max-width: 818px){
    .foto{
        display: none;    
    }
    .texto{
        width: 100%;
    }
    
}
@media screen and (max-width: 818px){
    #Contact{
        padding-left: 20px;
        padding-right: 20px;
    }
    .contacto{
        gap: 17px;
        flex-wrap: wrap;
        height: auto;
    }
    #Contact h2{
        font-size: 1.5rem;
        text-align: center;
    }
    .medio{
    gap: 5px;
    }
    .medioIcon{
        height: 30px;
    }
    .medio h4{
        font-size: 1.15rem;
    }
}
@media screen and (max-width: 585px){
    .links{
        gap: 20px;
    }
    .links a{
        font-size: 1rem;
    }
}
@media screen and (max-width: 500px){
    div.proj:hover{
        transform: none;
    }
}
@media screen and (max-width: 430px){
    .links{
        gap: 0px;
    }
    .links a{
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 415px){
    #AboutMe{
        padding-top: 120px;
    }
    .links a:hover, .active-link {
        transform: scale(1);
    }
}
@media screen and (max-width: 375px){
    div.proj{
        width: 300px;
        height: 325px;
    }
    .textProj h2{
        font-size: 1.25rem;
    }
    .textProj h3{
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 350px){
    .links a:hover, .active-link {
        transform: scale(1);
    }
}
@media screen and (max-width: 312px){
    .links a:hover, .active-link {
        transform: scale(1);
    }
}